*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                /*colors*/
                :root{
                    --cor-menu:rgb(232,253,241);
                    --cor-p:black;
                    --topo-color:#787cb5;
                    --topo-txt-color:black;
                    --topo-hover-color:rgb(2, 2, 2);
                    --body-color:#f2f3f6;
                    --sidebar-color:#fff;
                    --primare-color:#1c214d;
                    --primari-color:#1c214d;
                    --primary-color:#1c214d;
                    --primar-color:#1c214d;
                    --primary-color-light:#f6f5ff;
                    --toogle-color:#ddd;
                    --toogl-color:rgb(179, 179, 179);
                    --text-color:#707070;
                    --tex-color:black;
                    --botao-color:#fefdfd5b;
                    --log-color:#c9c7c7;
                    --botao-color:#1c214d;
                    --bota-color:#fffbfb54;
                    --text-quadrado:#818080;
                    --box:#474A8A;
                          /* transition */
                
                --tran-02:all 0.2s ease;
                --tran-03:all 0.3s ease;
                --tran-04:all 0.4s ease;
                --tran-05:all 0.5s ease;
                
                }
                
                body{
                    height: 100vh;
                    background: var(--body-color);
                    transition: var(--tran-05);
                }
                body.dark{
                    --cor-p:rgb(232,253,241);
                    --topo-color:#474A8A;
                    --topo-txt-color:rgb(255, 255, 255);
                    --topo-hover-color:rgb(255, 254, 254);
                    --body-color:#18191a;
                    --sidebar-color:#242526;
                    --primare-color:#0b0b0b;
                    --primari-color:#37428d;
                    --primary-color:#37428d;
                    --primar-color:#37428d;
                    --primary-color-light:#3a3b3c;
                    --toogle-color:#fff;
                    --toogl-color:rgb(179, 179, 179);
                    --text-color:#ccc;
                    --tex-color:black;
                    --botao-color:#0000005b;
                    --log-color:#37428d;
                    --botao-color:rgb(3, 3, 3);
                    --bota-color:#0a0a0a60;
                    --text-quadrado:rgba(244, 239, 239, 0.036);
                    --box:#787CB5;
                }
            /* ===========sidebar======= */

/* inicio corpo*/
.corpo{
    position: fixed;
    height: 1000px;
    width:100%;
    background:var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

/* corpo fim*/
.top{
    background:var(--topo-color);
    height: 15vh;
    padding: 15px;
    box-shadow: 0px 1px 10px 3px var(--primar-color);
}
.topo{
    float: right;
    margin-right: 5vw;
    padding: 2px;
}
.topo a{
    font-size: 19px;
    color: var(--topo-txt-color);
    margin:4px;
    text-decoration: none;
}
.topo a:hover{
   
    padding: 5px;
    border-radius: 10px;
    border-color: var(--topo-hover-color);
}

    /*menu-aula*/
    @media only screen and (max-width:600px) {
        .dp-menu{
            flex-direction: column;
        }
        .dp-menu{
            width: 93%;
        }
    }
        /*ul-li*/
    .dp-menu ul{
        list-style-type: none;
        padding: 0;
    
    }
    .dp-menu ul{
        background-color:#1c214d;
       border-radius: 10px;
    }
    .dp-menu ul li{
        display: inline;
        position: relative;
    
    }
    .dp-menu ul li a{
        color: var(--cor-menu);
        transition: background .3s;
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
    }
  
    .dp-menu ul li a:hover{
        background:#787CB5;
    
    }
    /* fim- ul-li*/
                    /*sub menu*/
                /*sub-ul-li*/    
    .dp-menu ul ul{
        display: none;
        left:0;
        position:absolute;
        border-radius: 0;
        background-color:#1c214d;
    }
    .dp-menu ul li:hover ul{
        display: block;
       
    }
    .dp-menu ul ul{
        width: 150px;
    }
    .dp-menu ul ul li a{
        display:block;
    }
                /*fim-sub-ul-li*/


